.product {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  padding: 20px;
  margin: 10px;
  z-index: 1;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product_price{
    margin-top: 5px;
}

.product_rating{
    display: flex;
}

.product_info{
    height: 100px;
    margin-bottom: 10px;
}

.product > button{
    background-color: rgb(211, 211, 32);
    border: 1px solid rgb(3, 3, 37);
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;

}

